html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0e0e0e;
  color: white;
}

/* HERO */
.hero{
  min-height: 100vh;                  /* ocupa pelo menos 1 tela inteira */
  background: linear-gradient(135deg, #000000, #1a1a1a);
  color: #ffffff;

  display: flex;                      /* ativa layout flex */
  align-items: center;                /* centraliza verticalmente */
  justify-content: center;            /* centraliza horizontalmente */

  text-align: center;
  padding: 0 20px;                    /* respiro lateral */
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
  opacity: 0.8;
}

.btn {
  background: #ff9900;
  color: black;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

/* SEÇÃO 2 */
.about {
  scroll-margin-top: 80px;
  padding: 100px 10%;
  background: #1e293b; /* azul acinzentado bem mais claro */
}
.about .container {
  display: flex;
  gap: 50px;
  align-items: center;
}
.about-text h2{
  font-size: 36px;
  margin-bottom: 24px;
  font-weight: 800;
  letter-spacing: 0.8px;
  color: #ffffff;
}
.about-image {
  flex: 1;
  min-width: 420px; /* impede a coluna da imagem de encolher demais */
}

.placeholder {
  background: #333;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 12px; /* arredonda os cantos */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4); /* cria profundidade */
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
width: 100%;
}
@media (max-width: 768px) {

  .about {
    flex-direction: column;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 32px;
  }

}
.hero-content {
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 28px;
}

.hero-content p {
  font-size: 14px;
}
