body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0e0e0e;
  color: white;
}

/* HERO */
.hero {
  min-height: 100vh;
  background: linear-gradient(135deg, #000000, #1a1a1a);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
  opacity: 0.8;
}

.btn {
  background: #ff9900;
  color: black;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

/* SEÇÃO 2 */
.about {
  padding: 80px 0;
}

.about-text {
  flex: 1;
}

.about-image {
  flex: 1;
}

.placeholder {
  background: #333;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 768px) {

  .about {
    flex-direction: column;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 32px;
  }

}
.hero-content {
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 28px;
}

.hero-content p {
  font-size: 14px;
}
