body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.hero {
  height: 100vh;
  background: linear-gradient(135deg, #000000, #1a1a1a);
  color: white;
  display: flex;
  flex-direction: column;
 justify-content: flex-end;
align-items: center;
  text-align: center;
}
